<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test_calculator">
  <test thread-count="5" name="Test">
   <groups>
  <run>
  <include name = "multiply" />
  </run>
  </groups>
    <classes>
      <class name="com.jstech.calculatortestatsk.TestCalculator"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- test_calculator -->
